* text=auto
*.cs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
cli/decloud text eol=lf
cli/cli-decloud-node text eol=lf
decloud-relay-nat text eol=lf